<div class="contenedor">
  <h2>Hard Skills & Soft Skills</h2>
  <div class="cont-barra">
    <p>Adaptacion</p>
    <div class="barra">
      <div class="carga" style="width: 80%"></div>
    </div>
    <p>Trabajo en equipo</p>
    <div class="barra">
      <div class="carga" style="width: 65%"></div>
    </div>
    <p>.NET</p>
    <div class="barra">
      <div class="carga" style="width: 45%"></div>
    </div>
    <p>Angular</p>
    <div class="barra">
      <div class="carga" style="width: 20%"></div>
    </div>
    <p>MSSQL</p>
    <div class="barra">
      <div class="carga" style="width: 50%"></div>
    </div>
  </div>
</div>
