<h2>Experiencia</h2>
<div>
  <img src="/assets/404.png" alt="404" />
  <div class="items">
    <p>404 Not Found</p>
  </div>
</div>
<h2>Educación</h2>
<div>
  <img src="/assets/utn frt.JPG" alt="facultad.png" id="fac" />
  <div class="items">
    <p class="title">UTN</p>
    <p>Ingenieria en Sistemas</p>
  </div>
</div>

<div>
  <img src="/assets/Colegio.png" alt="colegio.png" />
  <div class="items">
    <p class="title">Instituto Agrotécnico 20 de Junio</p>
    <p>Técnico en produccion agropecuaria</p>
  </div>
</div>
